@tailwind base;
@tailwind components;
@tailwind utilities;

/* App-wide base styles (optional) */
:root {
  color-scheme: light dark;
}

html,
body,
#root {
  height: 100%;
}

/* Smooth rendering */
* {
  -webkit-tap-highlight-color: transparent;
}

/* Typography & defaults */
@layer base {
  body {
    @apply bg-slate-50 text-slate-900 dark:bg-slate-950 dark:text-white antialiased transition-colors duration-300;
  }

  @media (pointer: fine) {

    body,
    a,
    button {
      cursor: none !important;
    }
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}